<%= form_with model:[board, board_comment], url: admin_board_board_comments_path(board.id), local: true do |f| %>
   <table class="table table-borderless">
    <thead>
      <tr>
        <th><%= f.text_area :comment,  :placeholder =>  "1文字以上、300文字以下で入力してください。", class: "form-control" %></th>
      </tr>
      <tr>
        <th><%= f.submit "送信する", class: "btn btn-success float-right" %></th>
      </tr>
    </thead>
  </table>
<% end %>