<div class='container'>
  <div class="row">
    <h2><%= "#{@member.nickname}さんの投稿一覧" %></h2>
    <%= render 'public/posts/index' ,posts: @member_posts %>
    <div class="offset-5 mb-5">
      <%= paginate @member_posts %>
    </div>
  </div>
</div>