<div class='container px-5 px-sm-0'>
  <div class="row">
    <div class= "col-6">
      <h2>掲示板一覧</h2>
    </div>
    <div class="col-2 offset-4">
      <%= link_to "新規作成へ", new_admin_board_path, class: "btn btn-info" %>
    </div>
    <%= render 'index', boards: @boards %>
  </div>
</div>

