<div class='container'>
  <div class="row">
    <div class= "col-6">
      <h2>掲示板一覧</h2>
    </div>
    <%= render 'index', boards: @boards %>
    <div class="offset-5 mb-5">
      <%= paginate @boards %>
    </div>
  </div>
</div>

