<div class="container">
  <div class="row">
    <h2>お気に入り一覧</h2>
  </div>
  <div class="row">
    <table class="table table-bordered text-center">
      <thead class="secondary">
        <tr>
          <th>投稿画像</th>
          <th>会員名</th>
          <th>タイトル</th>
        </tr>
      </thead>
      <tbody>
        <% @favorites.each do |favorite| %>
          <tr>
            <td>
              <%= link_to admin_post_path(favorite.post.id) do %>
               <%= image_tag favorite.post.get_image, size:"40x40" %>
              <% end %>
            </td>
            <td><%= link_to favorite.member.nickname.truncate(10), admin_member_path(favorite.member.id) %></td>
            <td><%= favorite.post.title.truncate(10) %></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
