<div class="container">
  <h2>タグ一覧</h2>
  <% @tags.each do |tag| %>
  <span class='bg-info rounded-pill p-1 m-1'>
    <!--タグ名の重複を防ぐ-->
    <% tag = Tag.find_by(name: tag.name) %>
    <%= link_to tag.name, admin_tag_path(tag), class: "text-light" %>
  </span>
  <% end %>
</div>

