<%= form_with(model:[post, post_comment], local: true) do |f| %>
  <table class="table table borderless">
    <tbody>
      <tr>
        <td><%= f.text_area :comment, :placeholder =>  "1文字以上、100文字以下で入力してください。", class: "form-control" %></td>
      </tr>
      <tr>
        <td><%= f.submit "送信する", class: "btn btn-success float-right" %></td>
      </tr>
    </tbody>
  </table>
<% end %>