<table class="table table-bordered table-striped table-sm text-center">
  <thead>
    <tr class="table-secondary">
      <th style="width: 20%">投稿者</th>
      <th style="width: 50%">コメント</th>
      <th style="width: 20%">投稿日</th>
      <th style="width: 10%"> </th>
    </tr>
  </thead>
  <tbody>
      <% post_comments.each do |post_comment| %>
      <tr>
        <td class="text-nowrap">
        <% if post_comment.member_id != nil %>
          <%= post_comment.member.nickname.truncate(10) %>
        <% else %>
          <span class="text-danger">管理人</span>
        <% end %>
        </td>
        <td><%= post_comment.comment %></td>
        <td><%= post_comment.created_at.strftime('%Y/%m/%d') %></td>
          <% if post_comment.member == current_member %>
            <td>
              <%= link_to "削除", post_post_comment_path(post, post_comment), method: :delete, class: "btn btn-danger btn-sm text-nowrap" %>
            </td>
          <% else %>
            <td class="text-center", style="width: 20%"></td>
          <% end %>
      </tr>
      <% end %>
  </tbody>
</table>

