<table class="table table-bordered table-striped table-responsive text-center">
  <tbody>
      <% post_comments.each do |post_comment| %>
      <tr>
        <td class="text-nowrap", style="width: 20%">
          <%= link_to post_comment.member.nickname, admin_member_path(post_comment.member) %>
        </td>
        <td class="text-left", style="width: 60%"><%= post_comment.comment %></td>
        <td style="width: 20%">
          <%= link_to "削除する", admin_post_post_comment_path(post, post_comment), method: :delete, class: "btn btn-danger btn-sm text-nowrap" %>
        </td>
      </tr>
      <% end %>
  </tbody>
</table>

