<h2>検索結果</h2>
<% if member_signed_in? %>
  <% if @result.exists? %> 
  	<% if @model == 'member' %>
  		<%= render 'public/members/index', members: @result %>
  	<% elsif @model == 'post' %>
    	<%= render 'public/posts/index', posts: @result %>
  	<% else %>
  		<%= render 'public/boards/index', boards: @result %>
  	<% end %>
  <% else %>
  	<h3>見つかりませんでした。検索条件を変更して再度お試しください。</h3>
  <% end %>
<% else %>